<section id="aboutSection">

<pre>(About) {
  Frontend Union is an organization, that
  brings together several communities to create
  unique conference. We focus on two things,
  sharing knowledge and experience in frontend
  development and creating a warm, friendly
  environment, where people can meet and
  discuss their ideas_
}

Follow us on <a href="https://www.facebook.com/frontendunion" target="_blank">Facebook</a> and <a href="https://twitter.com/frontend_union" target="_blank">Twitter</a>. Feel free
to <a href="mailto:frontend.union@gmail.com">mail</a> us.</pre>

</section>
