<footer id="footer">
  <a href="http://head.exchange" target="_blank">Branding, Design and Coding by Hæd Exchange</a>
  <a href="http://confcodeofconduct.com/" target="_blank">Code of Conduct</a>
</footer>
