<footer id="footer">
  <div>
    <a href="https://www.facebook.com/headexchangeteam">
      Design by Hæd Exchange
    </a>
  </div>
  <div>
    <a href="http://confcodeofconduct.com/">Code of Conduct</a>
  </div>
</footer>
