<footer id="footer">
  <a href="https://www.facebook.com/headexchangeteam" target="_blank"><span class="uppercase">Design and code by</span> Hæd Exchange</a>
  <a class="uppercase" href="http://confcodeofconduct.com/" target="_blank">Code of Conduct</a>
</footer>
