<footer id="footer">
  <a href="https://www.facebook.com/headexchangeteam" target="_blank">Design and code by Hæd Exchange</a>
  <a href="http://confcodeofconduct.com/" target="_blank">Code of Conduct</a>
</footer>
