<section id="locationSection">

<pre>(Location) {
  Leningradsky prospekt 39, building 79,
  Mail.Ru Group Heaquarters_
}

Please use a <a href="https://www.google.com/maps/place/Mail.Ru+Group/@55.7970415,37.5375259,17z/data=!3m1!4b1!4m2!3m1!1s0x46b549c0af2d5e3f:0xa77899d557548e3a" target="_blank">map</a>.</pre>

</section>
