<nav id="menuBar">
  <aside>
    <a href="#welcomeSection" class="logo scrollTo">
      <div><span>{</span><span>}</span></div>
    </a>

    <!-- <a class="welcomeMenuItem scrollTo"    href="#scheduleSection">Schedule</a> -->
    <a class="welcomeMenuItem scrollTo"    href="#aboutSection">About</a>
    <a class="welcomeMenuItem scrollTo"    href="#programmeSection">Programme</a>
    <a class="welcomeMenuItem scrollTo"    href="#locationSection">Location</a>
    <a class="welcomeMenuItem scrollTo"    href="#sponsorsSection">Sponsors</a>
    <a class="welcomeMenuItem scrollTo"    href="#organizersSection">Organizers</a>
  </aside>

  <!-- <a class="registrationButton" href="https://moscowjs.timepad.ru/event/229961/" target="_blank">Registration</a> -->

  <aside>
    <a class="welcomeMenuItem"    href="/ru">Ru</a>
  </aside>
</nav>
