<section id="scheduleSection">
  <section>
    <article>
      10:00 {
        <div>
          <span class="grey">Registration and breakfast</span>
        </div>
      },

      <br><br>

      11:00 {
        <div>
          <span class="grey">Opening ceremony</span>
        </div>
      },

      <br><br>

      11:20 {
        <div>
          <span class="blue">XSS Wars. The Force Awakens.</span><br>
          Vladimir Dashukevich<br>
          <span class="grey">4front</span>
        </div>
      },

      <br><br>

      12:10 {
        <div>
          <span class="blue">Three Stories About Testing.</span><br>
          Marina Mironovich<br>
          <span class="grey">WebNotBombs</span>
        </div>
      },

      <br><br>

      13:00 {
        <div>
          <span class="blue">Create Collaborative Applications Using Diffsync.</span><br>
          Jan Monschke<br>
          <span class="grey">BerlinJS</span>
        </div>
      },

      <br><br>

      13:50 {
        <div>
          <span class="grey">Lunch</span>
        </div>
      },
    </article>

    <article>
      14:50 {
        <div>
          <span class="blue">Testing Isomorphic React Apps.</span><br>
          Mikhail Larchenko<br>
          <span class="grey">WebNotBombs Amsterdam</span>
        </div>
      },

      <br><br>

      15:40 {
        <div>
          <span class="blue">Styleguide First — a New Approach to UI Component Development.</span><br>
          Varvara Stepanova<br>
          <span class="grey">Frontend.fi</span>
        </div>
      },

      <br><br>

      16:30 {
        <div>
          <span class="grey">Coffee break</span>
        </div>
      },

      <br><br>

      16:50 {
        <div>
          <span class="blue">Goodbye, jQuery!</span><br>
          Zarema Khalilova<br>
          <span class="grey">SPB Frontend</span>
        </div>
      },

      <br><br>

      17:40 {
        <div>
          <span class="blue">Three Men in a Boat. To Say Nothing of the Callback.</span><br>
          Sergey Zhigalov<br>
          <span class="grey">EkbJS</span>
        </div>
      }
    </article>
  </section>

  <footer>
    <h3>&#60;-- 19:00 ArtCode Afterparty on <a href="http://flacon.ru/contacts/">FLACON</a>. --&#62;</h3>
  </footer>

</section>
