<section id="scheduleSection">
  <section>
    <p>
      10:00 {<br>
        <span>
          Регистрация<br>
          Завтрак<br>
        </span>
      },<br>
      <br>
      11:00 {<br>
        <span>
          XSS войны. Пробуждение силы.<br>
          Владимир Дашукевич<br>
          4front<br>
        </span>
      },<br>
      <br>
      12:10 {<br>
        <span>
          Три истории о тестировании.<br>
          Марина Миронович<br>
          WebNotBombs<br>
        </span>
      },<br>
      <br>
      13:00 {<br>
        <span>
          Cоздание приложений для совместного редактирования документов с использованием DiffSync.<br>
          Jan Monschke<br>
          BerlinJS<br>
        </span>
      },<br>
      <br>
      13:50 {<br>
        <span>Обед<br></span>
      },
    </p>

    <p>
      14:50 {<br>
        <span>
          Тестирование изоморфных React-приложений.<br>
          Михаил Ларченко<br>
          WebNotBombs Amsterdam<br>
        </span>
      },<br>
      <br>
      15:40 {<br>
        <span>
          Сначала стайлгайд — подход к разработке UI компонентов.<br>
          Варвара Степанова<br>
          Frontend.fi<br>
        </span>
      },<br>
      <br>
      16:30 {<br>
        <span>Кофе-брейк<br></span>
      },<br>
      <br>
      16:50 {<br>
        <span>
          Прощай, jQuery!<br>
          Зарема Халилова<br>
          SPB Frontend<br>
        </span>
      },<br>
      <br>
      17:40 {<br>
        <span>
          Трое в лодке не считая колбэка.<br>
          Сергей Жигалов<br>
          EkbJS<br>
        </span>
      }
    </p>
  </section>

  <footer>
    <h3>&#60;-- 19:00 ArtCode Afterparty на Дизайн-заводе "Флакон" --&#62;</h3>
  </footer>

</section>
