<section id="sponsorsSection">

  <section>
    <h3>&#60;-- General Sponsor --&#62;</h3>

    <ul>
      <li><%= link_to image_tag('sponsors/mailru.png'), 'https://corp.mail.ru/en/' %></li>
    </ul>
  </section>

  <section>
    <h3>&#60;-- Speakers Support --&#62;</h3>
    <%= render 'speakers_support_logos' %>
  </section>

  <section>
    <h3>&#60;-- Information Partners --&#62;</h3>
    <ul>
      <li><%= link_to image_tag('sponsors/voximplant.jpg'), 'http://voximplant.com/', target: '_blank' %></li>
    </ul>
  </section>

  <section>
    <h3>&#60;-- Branding, Design and Coding --&#62;</h3>

    <ul>
      <li><%= link_to image_tag('sponsors/head-exchange.png'), 'http://head.exchange', target: '_blank' %></li>
    </ul>
  </section>

</section>
