<section id="welcomeSection">
  <nav>
    <a href="#welcomeSection" class="logo scrollTo"></a>

    <aside>
      <div class="welcomeMenuItem">
        <a class="scrollTo" href="#aboutSection">About</a>
      </div>

      <div class="welcomeMenuItem">
        <a class="scrollTo" href="#programmeSection">Programme</a>
      </div>

      <div class="welcomeMenuItem">
        <a class="scrollTo" href="#locationSection">Location</a>
      </div>

      <!--a class="registrationButton" href="https://moscowjs.timepad.ru/event/229961/" target="_blank">Registration</a-->

      <div class="welcomeMenuItem">
        <a href="/ru">Ru</a>
      </div>
    </aside>
  </nav>

  <%= render 'welcome/en/topics_slider' %>

  <footer id="circlesWrapper">
    <div class="current" id="slide1"></div>
    <div id="slide2"></div>
    <div id="slide3"></div>
    <div id="slide4"></div>
    <div id="slide5"></div>
    <div id="slide6"></div>
    <div id="slide7"></div>
  </footer>

</section>
