<section id="aboutSection">

<pre>(О конференции) {
  Frontend Union – это организация, которая
  объединяет несколько сообществ, с целью создать
  уникальную по опыту конференцию. Мы стремимся
  делиться знаниями и опытом в области технологий
  разработки интерфейсов. А также создать тёплую,
  дружелюбную атмосферу, в которой участники смогут
  знакомиться и общаться_
}

Подписывайтесь на нас в <a href="https://www.facebook.com/frontendunion">Facebook</a> и <a href="https://twitter.com/frontend_union">Twitter</a>.
Пишите на <a href="mailto:frontend.union@gmail.com">почту</a>.</pre>

</section>
