<footer id="footer">
  <a href="http://head.exchange" target="_blank">Брендинг, дизайн и вёрстка Hæd Exchange</a>
  <a href="http://ru.confcodeofconduct.com/" target="_blank">Нормы поведения на конференции</a>
</footer>
