<footer id="footer">
  <div>
    <a href="https://www.facebook.com/headexchangeteam">
      Дизайн Hæd Exchange
    </a>
  </div>
  <div>
    <a href="http://ru.confcodeofconduct.com/">
      Нормы поведения на конференции
    </a>
  </div>
</footer>
