<footer id="footer">
  <a href="https://www.facebook.com/headexchangeteam" target="_blank"><span class="uppercase">Дизайн и вёрстка</span> Hæd Exchange</a>
  <a class="uppercase" href="http://ru.confcodeofconduct.com/" target="_blank">Нормы поведения на конференции</a>
</footer>
