<footer id="footer">
  <a href="https://www.facebook.com/headexchangeteam" target="_blank">Дизайн и вёрстка Hæd Exchange</a>
  <a href="http://ru.confcodeofconduct.com/" target="_blank">Нормы поведения на конференции</a>
</footer>
