<section id="locationSection">

<pre>(Место проведения) {
  Ленинградский проспект 39, строение 79,
  Офис Mail.Ru Group_
}

Воспользуйтесь <a href="https://www.google.com/maps/place/Mail.Ru+Group/@55.7970415,37.5375259,17z/data=!3m1!4b1!4m2!3m1!1s0x46b549c0af2d5e3f:0xa77899d557548e3a" target="_blank">картой</a>.</pre>

</section>
