<nav id="menuBar">
  <aside>
    <a href="#welcomeSection" class="logo scrollTo">
      <div><span>{</span><span>}</span></div>
    </a>

    <!-- <a class="welcomeMenuItem scrollTo"    href="#scheduleSection">Расписание</a> -->
    <a class="welcomeMenuItem scrollTo"    href="#aboutSection">О Func</a>
    <a class="welcomeMenuItem scrollTo"    href="#programmeSection">Программа</a>
    <a class="welcomeMenuItem scrollTo"    href="#locationSection">Место</a>
    <a class="welcomeMenuItem scrollTo"    href="#sponsorsSection">Спонсоры</a>
    <a class="welcomeMenuItem scrollTo"    href="#organizersSection">Организаторы</a>
  </aside>

  <!-- <a class="registrationButton" href="https://moscowjs.timepad.ru/event/229961/" target="_blank">Регистрация</a> -->

  <aside>
    <a class="welcomeMenuItem" href="/en">En</a>
  </aside>
</nav>
