<section class="columnsView" id="organizersSection">
  <h2>&#60;-- Организаторы --&#62;</h2>

  <ul>
    <li>
      <div style="background-image: url(<%= image_path('speakers/Andrey-Salomatin.jpg') %>);"></div>
      <p class="speaker">Андрей Саломатин</p>
      <p class="from"><a href="https://twitter.com/filipovskii" target="_blank">@filipovskii</a></p>
    </li>

    <li>
      <div style="background-image: url(<%= image_path('speakers/Egor-Myasnikov.jpg') %>);"></div>
      <p class="speaker">Егор Мясников</p>
      <p class="from"><a href="https://twitter.com/j0gurt" target="_blank">@j0gurt</a></p>
    </li>

    <li>
      <div style="background-image: url(<%= image_path('speakers/Marina-Mironovich-Org.jpg') %>);"></div>
      <p class="speaker">Марина Миронович</p>
      <p class="from"><a href="https://twitter.com/obnoxious_mari" target="_blank">@obnoxious_mari</a></p>
    </li>

  </ul>

  <h2>&#60;-- Благодарности --&#62;</h2>
  <p class="thanksTo">
    <a href="https://www.facebook.com/vasilika.klimova">Василика Климова</a>,
    Денис Иогансен,
    Дмитрий Прищепа,
    <a href="https://www.facebook.com/mursya">Елена Джетпыспаева</a>,
    Елена Иванова,
    <a href="https://www.facebook.com/zakhar.day">Захар День</a>,
    Илья Вахрушев,
    Роман Комаров,
    Руслан Каймаков,
    <a href="https://www.facebook.com/sasha.ermolenko">Саша Ермоленко</a>,
    Сергей Давыдовский,
    <a href="http://web-standards.ru/">сообщество «Веб-стандарты»</a>.
  </p>
</section>
