<section id="scheduleSection">
  <section>
    <article>
      10:00 {
        <div>
          <span class="grey">Регистрация и завтрак</span>
        </div>
      },

      <br><br>

      11:00 {
        <div>
          <span class="grey">Открытие конференции</span>
        </div>
      },

      <br><br>

      11:20 {
        <div>
          <span class="blue">XSS войны. Пробуждение силы.</span><br>
          Владимир Дашукевич<br>
          <span class="grey">4front</span>
        </div>
      },

      <br><br>

      12:10 {
        <div>
          <span class="blue">Три истории о тестировании.</span><br>
          Марина Миронович<br>
          <span class="grey">WebNotBombs</span>
        </div>
      },

      <br><br>

      13:00 {
        <div>
          <span class="blue">Cоздание приложений для совместного редактирования документов с использованием DiffSync.</span><br>
          Jan Monschke<br>
          <span class="grey">BerlinJS</span>
        </div>
      },

      <br><br>

      13:50 {
        <div>
          <span class="grey">Обед</span>
        </div>
      },
    </article>

    <article>
      14:50 {
        <div>
          <span class="blue">Тестирование изоморфных React-приложений.</span><br>
          Михаил Ларченко<br>
          <span class="grey">WebNotBombs Amsterdam</span>
        </div>
      },

      <br><br>

      15:40 {
        <div>
          <span class="blue">Сначала стайлгайд — подход к разработке UI компонентов.</span><br>
          Варвара Степанова<br>
          <span class="grey">Frontend.fi</span>
        </div>
      },

      <br><br>

      16:30 {
        <div>
          <span class="grey">Кофе-брейк</span>
        </div>
      },

      <br><br>

      16:50 {
        <div>
          <span class="blue">Прощай, jQuery!</span><br>
          Зарема Халилова<br>
          <span class="grey">SPB Frontend</span>
        </div>
      },

      <br><br>

      17:40 {
        <div>
          <span class="blue">Трое в лодке не считая колбэка.</span><br>
          Сергей Жигалов<br>
          <span class="grey">EkbJS</span>
        </div>
      }
    </article>
  </section>

  <footer>
    <h3>&#60;-- 19:00 ArtCode Afterparty на <a href="http://flacon.ru/contacts/">Дизайн-заводе "Флакон"</a> --&#62;</h3>
  </footer>

</section>
