<section id="sponsorsSection">

  <section>
    <h3>&#60;-- Генеральный спонсор --&#62;</h3>

    <ul>
      <li><%= link_to image_tag('sponsors/mailru.png'), 'https://corp.mail.ru/ru/' %></li>
    </ul>
  </section>

  <section>
    <h3>&#60;-- Поддержка докладчиков и ведущих --&#62;</h3>
    <%= render 'speakers_support_logos' %>
  </section>

  <section>
    <h3>&#60;-- Информационные партнёры --&#62;</h3>
    <ul>
      <li><%= link_to image_tag('sponsors/voximplant.jpg'), 'http://voximplant.com/', target: '_blank' %></li>
    </ul>
  </section>

  <section>
    <h3>&#60;-- Брендинг, дизайн и вёрстка --&#62;</h3>

    <ul>
      <li><%= link_to image_tag('sponsors/head-exchange.png'), 'http://head.exchange', target: '_blank' %></li>
    </ul>
  </section>

</section>
