#programmeSection {
  padding: 0 105px 105px;
  @include ptSans;

  ul {
    @include columns(330px 3);
    @include column-gap(105px);

    li {
      display: inline-block;
      vertical-align: top;
      padding-top: 105px;

      div {
        width: 330px;
        height: 186px;
        background-size: cover;
        background-position: center;
      }

      h3 {
        margin-top: 22px;
        @include ptSansBold;
        font-size: 40px;
        line-height: 46px;
        color: blue;
      }

      .speaker {
        margin-top: 15px;
        @include ptSansBold;
        font-size: 24px;
      }

      .from {
        margin-top: 4px;
        font-size: 16px;
        color: $fromGrey;

        a {
          color: inherit;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .about {
        margin-top: 27px;
        font-size: 22px;
        line-height: 32px;
      }
    }
  }
}
