#sponsorsSection {
  padding-bottom: 30px;

  section {
    padding-top: 100px;
    text-align: center;

    h3 {
      margin-bottom: 40px;
      @include ptMonoBold;
      font-size: 20px;
      color: #666666;
    }

    ul {
      @include display-flex;
      @include justify-content(space-around);
      width: 960px;
      margin: 0 auto;

      li {
        @include display-flex;
        height: 90px;
      }
    }
  }

}
